<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/info/page.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <embed id="background-image" src="../static/svgs/background.svg"/>
    <div id="profile-form">
        <div id="profile-main-data">
        <div id="profile-avatar-div">
            <img id="avatar-img" src="{{ avatar_url }}">
        </div>
        <div id="profile-name-div">
            <div>
                <label for="namefield">Name</label>
                {% if name %}
                    <input type="text" value={{name}} id="namefield">
                {% else %}
                    <input type="text" id="namefield">
                {% endif %}
                <p></p>
            </div>
        </div>
        <div id="profile-surname-div">
            <div>
                <label for="surnamefield">Surname</label>
                {% if surname %}
                    <input type="text" value={{surname}} id="surnamefield">
                {% else %}
                    <input type="text" id="surnamefield">
                {% endif %}
            </div>
        </div>
        </div>
        <div id="profile-additional-data">
        <div id="profile-date-div">
            <div id="profile-date-label-div">
                <label for="datefield" id="profile-date-label">Birthday</label>
            </div>
                {% if birthday %}
                    <input type='date' value="{{birthday}}" id="datefield">
                {% else %}
                    <input type='date' id="datefield">
                {% endif %}
        </div>
        </div>
        <div id="profile-cvs-data">
            <div id="cvs-container">
                <div class="cv-file">
                    <img src="../../static/temp/chill.jpg">
                    <p>lol.txt</p>
                </div>
                <div class="cv-file">
                    <img src="../../static/temp/chill.jpg">
                    <p>lol.txt</p>
                </div>
                <div class="cv-file">
                    <img src="../../static/temp/chill.jpg">
                    <p>lol.txt</p>
                </div>
            </div>
            <div id="profile-cvs-add">
                <label for="cv-filefield">Add CV</label>
                <input type="file" id="cv-filefield" accept=".pdf" style="visibility: hidden; position: absolute;">
            </div>
        </div>
    </div>
</body>
<script src="../scripts/info.js"></script>
</html>