<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>User Info</h2>
    <div>
        <p>Avatar</p>
        <img id="avatar-img" src="{{ avatar_url }}" style="max-width: 32px; max-height: 32px;">
    </div>
    <div>
        <input type="file" id="avatar-field" accept=".png">
        <p></p>
    </div>
    <button id="avatar-upload">Update</button>
    <p>
        Name<br>
        <div>
            {% if name %}
                <input type="text" value={{name}} id="namefield">
            {% else %}
                <input type="text" id="namefield">
            {% endif %}
            <p></p>
        </div>
    </p>
    <p>
        Surname<br>
        <div>
            {% if surname %}
                <input type="text" value={{surname}} id="surnamefield">
            {% else %}
                <input type="text" id="surnamefield">
            {% endif %}
            <p></p>
        </div>
    </p>
    <p>
        Birthday<br>
        <div>
            {% if birthday %}
                <input type='date' value="{{birthday}}" id="datefield">
            {% else %}
                <input type='date' id="datefield">
            {% endif %}
            <p></p>
        </div>
    </p>
    <button id="submit_btn">Submit</button>
    <div>
        <h2>CVs</h2>
        <div id="cvs-container"></div>
    </div>
    <h3>Upload</h3>
    <div>
        <input type="file" id="cv-filefield" accept=".pdf">
        <p></p>
    </div>
    <button id="cv-upload">Upload</button> <br>
    <button id="logout">Logout</button>
</body>
<script src="../scripts/info.js"></script>
</html>