<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>User Info</h2>
    <p>
        Name<br>
        <div>
            {% if name %}
                <input type="text" value={{name}} id="namefield">
            {% else %}
                <input type="text" id="namefield">
            {% endif %}
            <p></p>
        </div>
    </p>
    <p>
        Surname<br>
        <div>
            {% if surname %}
                <input type="text" value={{surname}} id="surnamefield">
            {% else %}
                <input type="text" id="surnamefield">
            {% endif %}
            <p></p>
        </div>
    </p>
    <p>
        Birthday<br>
        <div>
            {% if birthday %}
                <input type='date' value="{{birthday}}" id="datefield">
            {% else %}
                <input type='date' id="datefield">
            {% endif %}
            <p></p>
        </div>
    </p>
    <button id="submit_btn">Submit</button>
    <h2>CVs</h2>
    {% for id, filename in cvs %}
    <div cv_id="{{ id }}">
        {{ filename }}
        <button class="cv-delete">Delete</button>
    </div>
    {% endfor %}
    <h3>Upload</h3>
    <div>
        <input type="file" id="cv-filefield">
        <p></p>
    </div>
    <button id="cv-upload">Upload</button>
    <button id="logout">Logout</button>
</body>
<script src="../scripts/info.js"></script>
</html>