<!DOCTYPE html>

<html>
    <head></head>

    <body>
        <h2>LOGIN</h2>
        <div id="login_form">
            <p>
                Email:<br>
                <div>
                    <input id="login_form_email" name="email" />
                    <p></p>
                </div>
            </p>
            <p>
                Password:<br>
                <div>
                    <input id="login_form_password" name="password"/>
                    <p></p>
                </div>
            </p>
            <button id="login_form_btn">Submit</button>
        </div>
    </body>
<script src="../scripts/login.js"></script>
</html>
