<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/css/main.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<h3>Hello, {{ fullname }}!</h3>-->
<!--<a href="/me">User Info</a>-->
    <embed id="background-image" src="../static/svgs/background.svg"/>
    <div class="wrapper">
        <div class="header"></div>
        <div class="left-bar">
            <div id="navbar-container">
                <div class="navbar-button">
                    <img src="../static/svgs/home.svg" alt="home">
                </div>
                <div class="navbar-button">
                    <img src="../static/svgs/explore.svg" alt="explore">
                </div>
                <div class="navbar-button">
                    <img src="../static/svgs/search-icon.svg" alt="search">
                </div>
                <div class="navbar-button">
                    <img src="../static/svgs/mail.svg" alt="mail">
                </div>
                <div class="navbar-button">
                    <img src="../static/svgs/profile.svg" alt="profile">
                </div>
            </div>
        </div>
        <div class="content-body"></div>
        <div class="right-bar"></div>
        <div id="avatar-div">
            <img id="avatar-img" src="../static/temp/chill.jpg" alt="avatar">
        </div>
    </div>
</body>
</html>