<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    {{ name }}
    {{ provider['name'] }}
    <div>
        {{ description }}
    </div>
    <div>
        TAGS:
        {% for item in tags %}
        <p>{{ item['name'] }}</p>
        {% endfor %}
    </div>
    <div>
        GEOTAGS:
        {% for item in geo_tags %}
            <p>{{ item['city_name'] }}</p>
        {% endfor %}
    </div>
    <div>
        DESCRIPTION:
        {{ description }}
    </div>
</div>
</body>
</html>