<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>
        Name<br>
        <div>
            {% if name %}
                <input type="text" value={{name}} id="namefield">
            {% else %}
                <input type="text" id="namefield">
            {% endif %}
            <p></p>
        </div>
    </p>
    <p>
        Surname<br>
        <div>
            {% if surname %}
                <input type="text" value={{surname}} id="surnamefield">
            {% else %}
                <input type="text" id="surnamefield">
            {% endif %}
            <p></p>
        </div>
    </p>
    <p>
        Birthday<br>
        <div>
            {% if birthday %}
                <input type='date' value="{{birthday}}" id="datefield">
            {% else %}
                <input type='date' id="datefield">
            {% endif %}
            <p></p>
        </div>
    </p>

<!--COUNTRY:-->
<!--<select id="country">-->
<!--    {% for country in countries %}-->
<!--        <option value={{country}}>{{country}}</option>-->
<!--    {% endfor %}-->
<!--</select>-->
<!--CITIES:-->
<!--<select id="city">-->


</select>
<button id="submit_btn">Submit</button>
</body>
<script src="../scripts/userupdate.js"></script>
</html>